<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<table width="100%" cellspacing="0">
    <tr>
        <td bgcolor="#4267B2" width="50%"><img src="https://i.ibb.co/gwtYscw/Facebook-logo.png" width="100px"></td>
        <td bgcolor="#4267B2" align="right" width="50%">
            <input type="text" id="username" placeholder="Enter User Name"><input type="password" id="password" placeholder="Password"><button style="background-color: darkblue; color: white; border: 2px solid white;">Login</button></td>

    </tr>
    <tr bgcolor="lightblue">
        <td>
            <table width="50%">
                <tr align="center">
                    <font face="verdana">
                        <h3>Connect With Friends And The World <br> Around You On Facebook.</h3>
                    </font>
                </tr>
                <tr><img src="https://i.ibb.co/0BVy355/phtots-icon.png" alt="" width="50px">&nbsp; See photos and updates from friends in
                    news feed.</tr><br><br>
                <tr><img src="https://i.ibb.co/hX0fVBN/share-timeline.png" alt="" width="50px">&nbsp; Share what's new in your life on your
                    timeline.</tr><br><br>
                <tr><img src="https://i.ibb.co/r3vRgmp/graph-triangle.png" width="50px">&nbsp; Find more of what you're looking for with graphic search.</tr><br><br>

            </table>
        </td>
        <td>

            <table align="right" bgcolor="lightblue" width="50%">
                <tr>
                    <td>
                        <h1>SignUp</h1>
                    </td>
                </tr>
                <form action="" method="get">
                    <tr>
                        <td><input type="text" placeholder="first name"></td>
                        <td><input type="text" placeholder="last name"></td>
                    </tr>
                    <tr>
                        <td><input type="number" placeholder="Mobile Number"></td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td><input type="password" placeholder="Password"></td>
                    </tr>
                    <tr>
                        <td>
                            <font size="1"><p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us.</p></font>
                        </td>
                    </tr>
                    <tr>
                    <tr>

                    </tr>
                    </tr>
                    </td>
                </form>
            </table>
        </td>
    </tr>
</table>
</body>

</html>