




<form action='/user/update' method="post">
    <input type="hidden" name="idStatus" value="<%=data.idStatus%>">
    <input type="hidden" name="userUpdate" value="<%=data.userName%>">
    <input type="text" name="statusUpdate" value="<%=data.contentStatus%>">


    <button type="submit">update</button>

</form>
